@keyframes fadeIn {
  0% {
    transform: translateY(-25%);
  }
  50% {
    transform: translateY(4%);
  }
  65% {
    transform: translateY(-2%);
  }
  80% {
    transform: translateY(2%);
  }
  95% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0%);
  }
}

.popup {
  animation-name: fadeIn;
  animation-duration: 0.4s;
  background-clip: padding-box;
  // background-color: #151068;
  background-image: linear-gradient(to right, #283c50, #1d79b6, #283c50);
  border-radius: 4px;
  // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  left: 0px;
  list-style-type: none;
  margin: 0;
  outline: none;
  padding: 0;
  position: absolute;
  text-align: left;
  top: 0px;
  overflow: hidden;
  z-index: 4;
  width: 12%;
  @media screen and (max-width: 768px) {
    width: 36%;
  }
  .list {
    clear: both;
    //   color: rgba(0, 0, 0, 0.65);
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    margin: 0;
    padding: 5px 12px;
    transition: all 0.3s;
    white-space: nowrap;
    -webkit-transition: all 0.3s;
    &:hover {
      background-color: #2e243e;
    }
  }
  hr {
    margin: 0;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    &:hover {
      .dropdown-content {
        display: block;
      }
    }
    // .dropbtn {
    //   padding: 5px 12px;
    //   font-size: 14px;
    // }
    // .dropbtn::after{
    //   content: "\003E";
    //   padding-left: 0.4rem;
    // }
    .dropdown-content {
      display: none;
      min-width: 143px;
      z-index: 1;
      li {
        padding: 0.1rem 1.9rem;
        &:hover {
          background-color: #2e243e;
        }
      }
    }
  }
}
