@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  background: #232d3b !important;
  color: #ffff !important;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* total width */
*::-webkit-scrollbar {
  background:red;
  width:10px;
  height:10px;
  border-radius:16px;

}

/* background of the scrollbar except button or resizer */
*::-webkit-scrollbar-track {
background-color:gray;
border-radius:16px;
box-shadow:inset 0 0 5px rgba(0,0,0,1);
}
*::-webkit-scrollbar-track:hover {
  background-color:gray;
/*     background-color:#f4f4f4 */
}

/* scrollbar itself */
*::-webkit-scrollbar-thumb {
  /* background-color:#111827; */
  border-radius:16px;
border:1px solid rgba(255,255,255,0.5);
box-shadow:inset 0 0 5px rgba(255,255,255,0.5);
}
*::-webkit-scrollbar-thumb:hover {
  background-color:#a0a0a5;
}

/* set button(top and bottom of the scrollbar) */
*::-webkit-scrollbar-button {display:none}
a{
  color: #fff !important;
  text-decoration: none !important;
}
a:hover {
  color: unset !important;
}


.modal-open{
  padding-right: 0 !important;
}